[user]
	email = kevin.pena.prog@gmail.com
	name = Kevin Peña
[core]
	autocrlf = false
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = status
[rerere]
	enabled = true
[push]
	default = current
[pager]
	branch = false
